Q1- Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
data =[4,8,15,16,23,42]

In [4]:
series = pd.Series(data)

In [5]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
data2 =([1,2,3,4,5,6,7,8,9,33])

In [11]:
my_series = pd.Series(data2)

In [12]:
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    33
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [13]:
df_data= {"Name": [ 'ALice', 'Bob', 'Claire'], "Age": [25,30,27], "Gender": ['Female','Male','Female']}

In [14]:
pd.DataFrame(df_data)

     Name  Age  Gender
0   ALice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A4. A dataframe is a two dimensional labelled data structure in pandas, essentially a table with rows and columns, similar to a spreadsheet or a SQL table. It can be thought of as a collection of Pandas series, where each column represents a series.

On the other hand, a Series is a one-dimensional labeled array that can hold any data type. It can be thought of as a column in a DataFrame, with a label(index) for each element.

In [1]:
import pandas as pd

# Creating a dictionary of data
data = {'Name': ['John', 'Jane', 'Alice', 'Bob'],
        'Age': [24, 25, 22, 27],
        'Gender': ['M', 'F', 'F', 'M']}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Creating a Series from the 'Age' column in the DataFrame
age_series = df['Age']

print(df)
print(age_series)

    Name  Age Gender
0   John   24      M
1   Jane   25      F
2  Alice   22      F
3    Bob   27      M
0    24
1    25
2    22
3    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

A5. Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the most commonly used functions are:

head(): returns the first n rows of the DataFrame (default n=5).

tail(): returns the last n rows of the DataFrame (default n=5).

info(): provides information about the DataFrame such as data types, number of non-null values, and memory usage.

describe(): provides summary statistics of the DataFrame such as count, mean, standard deviation, minimum and maximum values, and quartiles.

drop(): removes rows or columns from the DataFrame based on specified labels or conditions.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A6. In Pandas, both Series and DataFrame are mutable in nature. This means that you can modify their contents after they have been created.

However, Panel is an immutable data structure in Pandas. This means that once a Panel has been created, its contents cannot be modified. Instead, you need to create a new Panel with the desired modifications. This is because Panel was deprecated in Pandas 1.0.0 and removed in version 1.3.0

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
import pandas as pd

# create Series for each column of the DataFrame
name = pd.Series(['John', 'Jane', 'Alice', 'Bob'])
age = pd.Series([25, 30, 35, 40])
gender = pd.Series(['Male', 'Female', 'Female', 'Male'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

print(df)

    Name  Age  Gender
0   John   25    Male
1   Jane   30  Female
2  Alice   35  Female
3    Bob   40    Male